{#include layout.html } {#title}Login{/title}

<div class="container mx-auto">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          {#form uri:Auth.login()}
          <fieldset>
            <legend>Login</legend>
            {#formElement name = "username" label = "User Name"} {#input name =
            "username"/} {/formElement} {#formElement name = "password" label =
            "Password"} {#input name = "password" type = "password"/}
            {/formElement}
            <button type="submit" class="btn btn-primary">Login</button>
          </fieldset>
          {/form}
        </div>
        {! <a href="register">Register</a> !}
      </div>
    </div>
  </div>
</div>

{/include}
