{#include layout.html } {#title}Complete registration{/title}

<div class="container mx-auto">
  <div class="card">
    <div class="card-body">
      {#form uri:Auth.register()}

      <fieldset>
        {#formElement name="email" label="Email"} {#input name="email" /}
        {/formElement} {#formElement name="username" label="User Name"} {#input
        name="username" /} {/formElement} {#formElement name="password"
        label="Password"} {#input name="password" type="password"/}
        {/formElement}
        <button type="submit" class="btn btn-primary">Register</button>
      </fieldset>

      {/form}
    </div>
  </div>
</div>

{/include}
